html, body{
   overflow-x: hidden;
 }
 body {
   font-family: 'Open Sans', sans-serif;   
   color:#474747;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif; }
 h1 {
   text-shadow: 2px 2px #B8E986;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 @media (min-width: 2160px) {
   .container {
     width: 1760px;
   }

 }


 /* HEADER */
 header {
   color:#474747;
   background: #E4F9FF;
   background: url(../Images/backgroundguys.jpg) no-repeat center center fixed; 
   background-size: cover;
 }
 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li > a {
   color:#474747;
   text-decoration: none;
 }

 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

}
 /* BUTTONS */
 .btn {
   border-radius: 10px;
   color:#474747;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #FFC55E;
   border: 2px solid #FFC55E;
   box-shadow: 0px 3px 0px 0px #474747;
 }

 /* BENEFITS */
 .benefits {
   color: #FFFFFF;
   text-align: center;
   display:block;
   position:relative;
   background: #474747;
 }
 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits i {
   color:#FFC55E;
   font-size:60px;
   margin:0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#B8E986;
 }

 /* PRICING */
 .pricing {
   color: #FFFFFF;
   background: #FFFFFF;
   background-size:cover;
   text-shadow: 2px 2px #B8E986;
   text-align: center;
   padding:4em 0;
 }
 .pricing h2, .pricing p {
   color:#474747;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }
 .box {
   padding:0 15px 15px;
   background: #474747;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 485px;
   margin-top:0px;
 }
 .box h3 {
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   background: #474747;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:10px 0;
 }
 .box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#474747;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#888888;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }
 .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #B8E986;
   line-height: 15px;
   font-style:italic;
 }


 /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
   text-shadow: 2px 2px #FFC55E;
 }
 .testimonials h2 {
   color:#474747;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#FFFFFF;
   text-align: left;
   font-style: italic;
   background:#34495E;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #34495E;
   border-width: 10px;
   margin-left: -10px;
 }
 .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }